<h1 style="color: chartreuse; text-align: center">Rechercher un étudiant</h1>

<form class="form-horizontal" (submit)="rechercher()">
    <div class="form-group">
        <label for="idId" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="idId" placeholder="Id" name="fId" [(ngModel)]="id">
        </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Rechercher</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered" *ngIf="affiche">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
      </tr>
    
      <tr>
        <td>{{etudiant.id}}</td>
        <td>{{etudiant.nom}}</td>
        <td>{{etudiant.prenom}}</td>
        <td>{{etudiant.age}}</td>
      </tr>
    </table>

<h1 style="color: crimson; text-align: center" *ngIf="flag">La recherche a échoué</h1>