<h1 style="color: chartreuse; text-align: center">Ajouter un proprietaire</h1>


<form class="form-horizontal" (submit)="ajouter()">
  <div class="form-group">
    <label class="col-sm-2" for="nom">Nom</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="nom" id="nom" aria-describedby="nomId" placeholder="Nom"
        [(ngModel)]="propIn.nom">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="prenom">Prenom</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="prenom" id="prenom" aria-describedby="prenomId" placeholder="Prenom"
        [(ngModel)]="propIn.prenom">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="mail">Mail</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="mail" id="mail" aria-describedby="mailId" placeholder="Mail"
        [(ngModel)]="propIn.mail">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="password">Mot de Passe</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="password" id="password" aria-describedby="pwdId"
        placeholder="Password" [(ngModel)]="propIn.mdp">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="telPerso">Télphone Personnel</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="telPerso" id="telPerso" aria-describedby="telPersoId"
        placeholder="Telephone Personnel" [(ngModel)]="propIn.telephone">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="telPro">Téléphone Professionnel</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="telPro" id="telPro" aria-describedby="telProId"
        placeholder="Telephone Professionnel" [(ngModel)]="propIn.telephonePro">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="adresse">Adresse</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="adresse" id="adresse" aria-describedby="adresseId"
        placeholder="Adresse" [(ngModel)]="adresseIn.nomAdresse">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="cp">Code Postal</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="cp" id="cp" aria-describedby="cpId" placeholder="Code Postal"
        [(ngModel)]="adresseIn.codePostal">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="ville">Ville</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="ville" id="ville" aria-describedby="villeId" placeholder="Ville"
        [(ngModel)]="adresseIn.ville">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="pays">Pays</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="pays" id="pays" aria-describedby="paysId" placeholder="Pays"
        [(ngModel)]="adresseIn.pays">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">S'inscrire</button>
    </div>
  </div>
</form>


<h1 style="color: crimson; text-align: center" *ngIf="flag">L'ajout du proprietaire a échoué</h1>