<h1 style="color: blueviolet; text-align: center">Liste des étudiants</h1>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Age</th>
    <th>Opérations</th>
  </tr>

  <tr *ngFor="let e of etudiants">
    <td>{{e.id}}</td>
    <td>{{e.nom}}</td>
    <td>{{e.prenom}}</td>
    <td>{{e.age}}</td>
    <td><button class="btn btn-danger" (click)="deleteLien(e.id)">Supprimer</button> |<a class="btn btn-primary" [routerLink]="['/update',{id:e.id}]">Modifier</a></td>
  </tr>
</table>