.footer{
    height: 170px;
    background-image: linear-gradient(rgb(0, 81, 128),rgba(0, 204, 255, 0.582));
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.texteFooter{
    margin-left: 20px; 
}
