<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="footer">
    <div class="texteFooter">
      <u style="color: white">  <h4>Contact:</h4></u>
        ProImmobilier,
        <br />
        <i style='font-size:15px' class='fas'>&#xf557;</i>
        7 avenue Henry Becquerel,
        <br />
        33700 MERIGNAC
        <br />
        <i style="font-size:15px" class="fa">&#xf098;</i>
        04.55.94.35.87
        <br />
        <i style='font-size:15px' class='fas'>&#xf674;</i>
        proimmobilier@hotmail.fr
    </div>
</div>
