<h1 style="color: chartreuse; text-align: center">Ajouter un bien immobilier</h1>

<form class="form-horizontal" (submit)="choixOffre()">
  <div class="form-group">
    <label for="idOffre" class="col-sm-2 control-label">Offre</label>
    <div class="col-sm-5">
      <select  class="form-control" id="idOffre" [(ngModel)]="model.offre">
        <option *ngFor="let offre of offres" [value]="offre"  >{{offre}}</option>
      </select>
    </div>
  </div>
</form>

<h3 *ngIf="bienAVendre">C'est le form A vendre</h3>
<h3 *ngIf="bienALouer">C'est le form A louer</h3>
<h1 style="color: crimson; text-align: center" *ngIf="flag">L'ajout du bien immobilier a échoué</h1>