#bouton1 {
    margin-top: 30px;
    margin-left: 450px;
}

#bouton2 {
    margin-top: 30px;
    margin-left: 100px;
}

#bouton3 {
    margin-top: 20px;
    margin-left: 430px;
}

#bouton4 {
    margin-top: 20px;
    margin-left: 70px;
}
