<br/>
<br/>
<br/>
<br/>
<br/>
<button id="bouton1" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false" [routerLink]="['/listeClient']" style="border-color: darkcyan">
  Liste des Clients <span class="caret"></span>
</button>

<button id="bouton2" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false" [routerLink]="['/listeProprietaire']" style="border-color: darkcyan">
  Liste des Proprietaires <span class="caret"></span>
</button>
<br/>
<br/>
<br/>
<br/>

<button id="bouton3" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false" [routerLink]="['/listeBiensImmo']" style="border-color: darkcyan">
  Liste des Biens Immobiliers <span class="caret"></span>
</button>

<button id="bouton4" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false" [routerLink]="['/listeClasseStandard']" style="border-color: darkcyan">
  Liste des Classes Standards <span class="caret"></span>
</button>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>